<h3 style="color: red;">If you liked this post, you can also donate me for a coffee, and I&#39;ll do better. Thanks.</h3>

<table style="border: 1px solid black; border-collapse: collapse;">
	<thead>
		<tr><th style="text-align:center">PayPal</th></tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align:center"><img src="https://www.paypalobjects.com/webstatic/paypalme/images/pp_logo_small.png" alt="PayPal"><br><a href="http://www.paypal.com/paypalme/rangareddyavula" target="_blank">Donate via PayPal</a></td>
		</tr>
	</tbody>
</table>